#topmenu {
  background-color: #f4f4f4;
  box-shadow: none;
  border:none;
}

#middlemenu {
  background-color: white;
  box-shadow: none;
  border: none;
}

#footer {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}